* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: roboto, sans-serif;
}

.header {
    background-image: linear-gradient(to right, red, darkred, darkred, darkred);
    margin-bottom: 1em;
}

.header img {
    max-height: 100px;
    padding-right: 2em;
}

.header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

/* stupid border */
.header,
.body {
    /* border:  solid 2px; */
    padding: 0p 1em 1em;
}

.nav-bar{
    font: 500;
    background-color: lightgoldenrodyellow;
}

.body button {
    padding: 0.5em;
    border: solid 1px;
}

.monster-display{
    background-image: url('\\frontend\\img\\MonsterBackground.png');
}

#size-dropdown{
    background-color: lightgray;
    outline-width: 1px;
    outline-style: solid;
    outline-color: black;
}