/* Reset of margin/padding/border. Good practice to use, may or may not use
   is as it conflicts with creating monster cards. Cool if we can do later,
   no big deal if we don't get to it */
/* * {
    margin: 0;
    padding: 0;
    border: 0;
} */

/* 
    Basic elements 
*/

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: roboto, sans-serif;
    background-color: #f5f2ed;
    display: flex;
    flex-direction: column;
}

a:link, a:visited{
    color: #0a0757;
    text-decoration: none;
}

button {
    padding: 0.5em;
    border: solid 1px;
    background-color: #d11149;
    color: #f5f2ed;
    border-color: #f5f2ed;
    border-radius: 5px;
}

/*
    Header
*/

.header {
    background-color: #d11149;
    font-size: 50px;
    padding-left: 30px;
}

.logo{
    max-height: 160px;
}

/*
    Main, contains menu and content
*/

.main {
    height: 100%;
    display: flex;
}

/*
    Menu
*/

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #eee1cc;
    text-align: center;
    font-size: 3vh; /* Hopefully find a better way to scale */
    font-weight: 850;
    color: #0a0757;
    height: 100vh;

    /* Sticking to side */
    position: sticky;
    z-index: 1;
    top: 0;
}

.menu hr{
    width: 95%;
    height: 3px;
    background-color: #0a0757;
    margin: 0;
}

.menu a {
    padding: 20px 10px;
}

/*
    Content
*/

.content {
    margin: 0px;
    padding: 20px;
    padding-right: 0px;
    width: 100%;
}

.content .title{
    color: #0a0757;
    font-size: 40px;
    padding-bottom: 10px;
}

.content .subheader{
    font-size: 40px;
    color: #d11149;
}

.content .flavor-Text{
    color: #d11149;
}

.content .dropdown{
    background-color: #d11149;
    color: #f5f2ed;
    border-color: #d11149;
    border-radius: 7px;
    font-size: 3;
    padding: 10px;
}

.content .stat-Input{
    background-color: #d11149;
    color: #f5f2ed;
    border-color: #d11149;
    border-radius: 7px;
    max-width: 60px;
    font-size: 4;
    padding: 10px;
    margin: 3px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.content .statInputTable{
    text-align: center;
}

.content #resultsBorder{
    background-color: rgb(255, 80, 100);
    margin-left: 10px;
    float: left;
}

.content .results{
    height: 500px;
    background-color: rgb(255, 123, 143);
    margin: 10px;
    border-style: solid;
    border-style: round;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}

/* Monster display */

.content .monster-display {
    border:  solid 2px;
    padding: 0p 1em 1em;
}

.monster-display .stat-block {
    margin: 30px;
}

/* Create Encounter */

#monsterStatBlocks{
    background-color: #d11149;
    color: #eee1cc;
    padding-top: 5px;
}

/* Search Monsters */

#inputs{
    margin-top: 1em;
}

.statInputTable hr{
    background-color: #eee1cc;
}

/* Reccomend Monsters */

.monstersContain{
    width: 45%;
    margin-left: 2.5%;
    min-height: 500px;
    float:left;
}

.monsters{
    min-height: 500px;
    background-color: #0a0757;
}

#partyContain{
    width: 45%;
    min-height: 500px;
    float:left;
}

#party{
    min-height: 500px;
}

.content .playerInput{
    background-color: #0a0757;
    color: #eee1cc;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
}

.playerName{
    border-radius: 0;
    background-color: #0a0757;
    border-color: #0a0757;
    border-style: none;
    width: 100%;
    text-align: left;
    font-size: medium;
    margin-top: 5px;
}

.playerContent{
  background-color: #eee1cc;
  color:#0a0757;
  border-width: 0px;
  font-size: large;
  padding-left: 10px;
  font-style: bolder;
}

